html {
  font-size: 15px;
}
body {
  
  margin: 0;
  font-family: 'Futura';
  font-size: 15px;
  color: #000000;
  max-width: 1920px;
  background: #fafafa;
/*  background-color:  #f0f8ff91;;*/
}
/* body.no-scroll {
  overflow: hidden;
} */
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
p {
  margin: 0 0 15px;
}
*,
*:before,
*:after {
  padding: 0;
  margin:0;
  border: 0;
  box-sizing: border-box;
}







@font-face {
  font-family: 'Futura';
  src:url('../fonts/Futura Book font.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLight';
  src:url('../fonts/Futura futura light bt.ttf');
  font-weight: normal;
  font-style: normal;
}

/*HEADER*/

.header__burger {
  display: none;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

}
.header__body {
  position: relative;
  

}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#ffffff;
  z-index: 2;
}

.nav {
  margin-bottom: 25px;
/*  margin-top: 10px;*/
  padding: 0;
  width: 100%;
  display: flex;
  justify-content:end;
  z-index: 2;
  position: relative;

}
.lingua {
    top: 10px;
    position: absolute;
    color: black;
    text-decoration: none;
    cursor: pointer;
    z-index: 3;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s linear, color 0.2s linear;
}
.lingua:hover {
  color: grey;
}

.nav__link {
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color:#000000;
  font-weight: 300;
  
  padding-right:20px;
  padding-left: 20px;

  transition: background-color 0.2s linear, color 0.2s linear;
}

.nav__link-active {
  color: white;
}
.nav__link:hover {
    color: #787878;
}


.header__logo {

  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 30px;
}

.header__logo img {
  max-width: 100%;
  display: block;
  overflow: hidden;
  z-index: 0;
}
/*INTRO */
.intro {
  margin-top: 100px;
}

.intro__text {
  margin-top: 200px;
  font-size: 40px;
}
.intro__description {
  font-size: 20px;
  padding:20px 20px 0px 0px;;
  
  
}

.row > .column {
  padding: 8px 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

/*.mySlides1 {
  display: block;
}*/

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  z-index: 1;
  color: black;
  position: fixed;
  top: 100px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  transition: transform .25s, opacity .25s;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
  transform: rotate(90deg);
/*  transition: transform .25s, opacity .25s;*/
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*img {
  margin-bottom: -4px;
}*/

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.left {
  display: flex;
  flex-wrap: wrap;
/*  padding-left: 440px;*/
  
}
.intro__photo {
  background: url(../img/sfondo2.jpeg)center center no-repeat;
/*  margin-top: 50px;*/
  margin-bottom: 65px;
  padding: 250px 0 250px;
  display: flex;
/*  flex-wrap: wrap;*/
  justify-content:space-around;
  align-items: center;
  background-size: cover;

}

.row {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.subtitle {
  position: absolute;
/*    margin-top: 150px;*/
    font-size: 120px;
    color: #fff;
    text-shadow: 2px 2px 5px black;
}
.title {
    position: relative;
    text-align: center;
    margin-top: 150px;
    font-size: 120px;
    color: #fff;
    text-shadow: 2px 2px 5px black;
}
.intro__photo-img {
  padding: 20px;
  width: 33.3333%;
}
.intro__photo-img img {
  max-width: 100%;
}
.btn {
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color:black;
  border: none;
  text-decoration: none;
  outline: none;
  transition: color .3s linear;
}
.btn:hover {
  color: black;
  background-color: #00000075;

}
.info__suptitle {
      margin-top: 35px;
/*      font-size: 14px;*/
}
.mail,
.tel {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.contact-row {
  margin-top: 25px;
}

/*FOOTER*/
.footer {

  margin-top: 125px;
}
.footer__logo img {
  width: 110px;
  height: 20px;
}
.footer__logo {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.footer__icon {
 
  width: 15%;
  display: flex;
  justify-content: space-around;
}
.footer__icon a {
  color: #ACACAC;
  font-size: 20px;
  transition: color 0.2s linear, color 0.2s linear;
}
.footer__icon a:hover {
  color: black;
}
.footer__credits {
    margin-top: 25px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
.footer_adress a {
  align-items: center;
  color: #ACACAC;
  text-decoration: none;
  transition: color 0.2s linear, color 0.2s linear;
}
.footer_adress a:hover {
  color: black;
}
.footer__copyright {
  font-size: 10px;
  margin-bottom: 40px;
}

/*SERVIZI*/
.taglio {
  
  
}
.servizi {
/*  margin-top: 130px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.servizi__item {
  margin-top: 30px;
  padding: 15px;
  width: 33.3333%;
  text-align: center;
  transition: box-shadow 0.2s linear;
  margin-bottom: 45px;
}

/*.servizi__item:hover {
  box-shadow: 0 0 16px rgb(0,0,0);
}*/
.per__clienti {
  margin-top: 35px;
  padding: 20px;
  width: 24%;
  text-align: center;
  transition: box-shadow 0.2s linear;
}
.per__clienti:hover {
  box-shadow: 0 0 16px rgb(0,0,0);
}

.servizi__photo {
  max-width: 95%;
}
.servizi__title {
  margin-top: 15px;
  font-size: 22px;
}
.servizi__text {
  margin-top: 20px;
/*  padding: 0 20px;*/
  font-size: 20px;
}

/*CONTATTI*/
.contatti {
  margin-top: 200px;

}
.contactus {
    display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  
}
.contact__title {
  font-size: 25px;
  text-align: center;
  margin:50px 0;
}
.form {
  padding-top: 65px;
  width: 45%;
}
.form__input input {
  transition: border-color .2s linear;
  padding:5px;
  border: 1px solid #ACACAC;
  outline: none;
  width: 50%;
}
.form__input input:hover,
.form__textarea textarea:hover {
  border-color: #000000;
}
.form__textarea textarea {
  transition: border-color .2s linear;
  width: 65%;
  padding: 5px;
  border: 1px solid #ACACAC;
  resize: none;
  height: 120px;
  outline: none;
}
.form__title {
  font-size: 15px;
  margin-bottom: 15px;
  color: #ACACAC;
 
}
.punto_indirizzo {
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: background-color 0.2s linear, color 0.2s linear;
  transition: font-weight 0.2s linear, color 0.2s linear;
}
.punto_indirizzo:hover {
  color: #787878c9;
  font-weight: bolder;
}

.form__group {
      margin: 5px 0 15px 0;
}
.submit__btn {
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  
  color: #000000 ;
  background-color: transparent;
  border:none;
  
  text-decoration: none;
  outline: none;
  transition: color .3s linear;
}
.submit__btn:hover {
  color:#ACACAC;

}
.info__title {
/*  font-size: 16px;*/
  
}
.contact__info {
  font-size: 20px;
    padding: 65px 70px;
    background: #fafafa;
/*    max-width: 470px;*/
    line-height: 2
}
.map {
  margin-top: 45px;
}
.mappa {
  width: 100%;
  max-height: 200px;
  margin-bottom: 20px;
}

/*ACCADEMIA*/

.accademia {
  margin-top: 130px;
}

/*CAMERE*/

.camere {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    align-items: flex-end;
    flex-wrap: wrap-reverse;

}
.camere_left {
  width: 40%;
    text-align: center;
/*    margin-top: 100px;*/
    padding: 15px;
}


 .camere_title {
  margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
   }

   .camera_info{
    text-align: left;
    position: relative;
    align-items: center;
    padding-top: 10px;

    display: flex;
   }
   .camera_info img{
    max-width: 10%;

   }

   .camera_info p {
    margin:0;
    margin-left: 10px;
    font-size: 20px;
   }
   .camera_info b {
    font-weight: 900;
   }


     .info img{
   }
    max-width: 10%;
   }
   .camera_info .btn {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    transition: color background-color .3s linear;
   }
   .camera_info .btn:hover {
    color: black;
    background-color: grey;
   }
   hr {
    background-color: black;
    color: black;
    width: 100%;
    height: 1px;
   }
.camere_discrizione {
      width: 100%;
    text-align: center;
    padding: 20px;
}
/*SLIDER*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
/*  max-width: 1000px;*/
  position: relative;

/*    margin: 180px 0 0;*/
    width: 45%;

  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
/*  background-color: #717171;*/
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media(max-width: 768px) {

  body.lock {
    overflow: hidden;
  }

    .header__logo img {
      
      height: 100px;
    }
    .header__logo {
      margin-top: 10px;
/*      justify-content: left;*/
    }
   .header__burger {
    display: block;
    position: relative;
    bottom: 30px;
    width: 30px;
    height: 20px;
    float: right;
    margin-bottom: 15px;
    z-index: 3;
   }
   .header__burger:before,
   .header__burger:after {
      content: '';
      background-color: #000000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all .3s ease 0s;

   }
   .lingua {
    position: relative;
    top: 30px;
   }
   .header__burger span {
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all .6s ease 0s;


   }

   .column {
    width: 33%;
   }
   .header__burger:before {
    top: 0;

   }
   .header__burger:after  {
    bottom: 0;
   }
   .header__burger.active:before {
     transform: rotate(45deg);
     top: 9px;
   }
    .header__burger.active:after {
     transform: rotate(-45deg);
     bottom: 9px;
   }
   .header__burger.active span  {
    transform: scale(0);
   }

   .nav {
    position: fixed;
    display: block;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease 0s;
    background-color:#fffffff2;
    z-index: 1;
    padding: 120px 10px 20px 10px;

   }
   .nav.active {
    top: 0;
   }
   .nav__link {

    text-align: center;
    display: block;
    margin: 70px 0 25px 0;
    font-size: 20px;
/*    color: #fff;*/
   }
   .nav__link:hover {
    color: #787878;
   }
   .left {
    padding-left: 0;
    margin-top: 50px;
    
   }


   .form {
    width: 100%;
    text-align: center;
   }
   .intro__text {
    margin-top: 150px;
   }
   .footer {
/*    margin-top: 0;*/
   }
   .subtitle {
    font-size: 70px;
   }
   .title {
    font-size: 80px;
   }

   .servizi__item {
    width: 100%;
   }
   .servizi__photo {
    max-width: 95%;
   }
   .contact__info {
    padding:20px;
   }

   .slideshow-container {
    width: 77%;
    margin:30px auto 0;
   }

   .camere_left {
    padding: 10px;
    margin-top: 0px;
    width: 75%;
   }

   .intro__photo-img {
    padding: 10px;
   }

   .camere {
    justify-content: center;
   }

   .camera_info img {
    max-width: 5%;
   }

}

@media(max-width: 445px) {

  .container {
    padding: 0 10px;
  }

/*  .header__burger{
    bottom: 60px;
  }*/
  .header__logo img {
   
    height: 100px; 
  }

.left {
  padding-left: 0;
  margin-top: 0px;
}
.intro__photo {
  margin-top: 0px;
  margin-bottom: 0px;
}
.btn {
  margin-top: 15px;
  font-size: 20px;
}
.intro__photo-img {
    padding: 5px;
    width: 100%;
    
}
.intro__description {
   font-size: 20px;
    padding: 20px 0px 10px 0px;
/*    text-align: center;*/
}

.subtitle {
  font-size: 40px;
}
.title {
  margin-top: 80px;
  font-size: 55px;
}
.footer {
  margin-top: 60px;
}
.footer__credits {
  display: block;
}
.footer__icon {
  width: 100%;
  margin-bottom: 20px;
}

.footer__credits {
  margin-bottom: 30px;
  text-align: center;
}
.footer__copyright {
  margin-bottom: 10px;
}

.servizi__item {
  width: 100%;
  padding: 10px;

}
.servizi__photo {
/*  width: 85%;*/
}
.per__clienti  {
  width: 100%;
}

/*CONTATTI*/
.contatti {
  margin-top: 0px;
}

.row > .column {
  padding: 2px 2px;
}

.column {
  width: 50%;
}
.contactus {
      flex-wrap: wrap-reverse;
}
.form {
  width: 100%;
  /*margin-top: 20px;*/
}
.map {
  display: none;
}
   .slideshow-container {
    width:100%;
    
   }

   .camere_left {
    width: 100%;
   }



 }